
.url-shorter.loader{
	
	display: block;
    height: 20px;
    position: absolute;
    right: 0;
    width: 25px;
	background:url(https://raw.github.com/netojav/urlshorter/master/loader.gif) no-repeat center center;

}



.url-shorter.wrapper{
	
	display: inline;
    margin: 4px 0;
    position: relative;


}

.url-shorter.hidden{
	
	display:none;
	
}